
header{
    position: relative;

  .nav{
    position: absolute;
    margin-left:400px ;
    color: rgb(255, 255, 255);
  }
  .log{
    position: relative;
  display: flex;
  left: 100px;
      top: -700px;
  }
  .wave{
    
    position: relative;
      left: 510px;
      top: -120px;
      
  
  }
  .Bussi{
    position: absolute;
    margin-left: 100px;
    margin-top: -610px;
    justify-content: center;
  }
}

  .ph img{
    display: flex;
    
  }
  .phone{
    
    position: relative;
    top: -780px;
    left: 500px;
    width: 621px;
    height:606px ;
  }


    